@using E_Ticaret.Models.Entity
@model List<TBL_URUN>
@{
    ViewBag.Title = "Urun";
    Layout = "~/Views/Shared/PersonelLayout.cshtml";
}







<table class="table table-bordered">

    <tr class="bg-dark" style="color:whitesmoke">
        <td>URUNID</td>
        <td>URUNAD</td>
        <td>KATEGORİ</td>
        <td>MARKA</td>
        <td>STOK</td>
        <td>DURUM</td>
        <td>FİYAT</td>
        <td>GÖRSEL</td>
        <td>İŞLEMLER</td>
    </tr>

    @foreach (var x in Model)
    {
        <tr>

            <td>@x.ID</td>
            <td>@x.AD</td>
            <td>@x.TBL_KATEGORI.AD</td>
            <td>@x.TBL_MARKA.AD</td>

            <td>
                <a href="/PersonelPanel/StokArtır/@x.ID"><button class="btn btn-success" onclick="arttir()" style="text-align:center; width:30px; height:30px">+</button></a>
                <input style="width:105px" class="form-control" name="Stok" id="stok" value="@x.STOK" />
                <a class="btn btn-danger" onclick="azalt()" href="/PersonelPanel/StokAzalt/@x.ID" style="text-align:center; width:30px;height:30px">-</a>

            </td>

            <td>@x.DURUM</td>
            <td>@x.FIYAT</td>
            <td><img src="@x.FOTOGRAF" width="100px" height="100px" /></td>
            <td>
                <a class="btn btn-success" href="/PersonelPanel/UrunGetir/@x.ID">GÜNCELLE</a>
                <a class="btn btn-danger" href="/PersonelPanel/UrunSil/@x.ID">SİL</a>
                <a class="btn btn-info" href="/Ozellikler/Index/@x.ID">ÖZELLİKLER</a>

            </td>

        </tr>


        <script>

            function arttir() {
                var stok;
                stok = document.getElementById("stok");
                

            }

            function azalt() {
                var stok;
                stok = document.getElementById("stok");

            }


        </script>

    }


</table>
<a href="/PersonelPanel/UrunEkle/"><button class="btn btn-info">EKLE</button></a>
